body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: rgba(18, 23, 148, 0.08);
    text-align: justify;
}

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 1px 5px;
}

.navbar>img{
    margin-left: 5%;

}

.navlinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.navlinks>li{
    padding-left: 20px;
    padding-right: 20px;
}

.navlinks>li>a{
    text-decoration: none;
    color: #093371;
    font-weight: bold;
}

.navlinks>li>a:hover{
    color: #117215;
    border-bottom: 3px solid #117215;
}


.heroimage{
    background-image: url("../images/Rectangle\ 35.jpg");
    width: 100%;
    height: 300px;
}

.herooverlay{
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0.9) ,  rgba(9, 51, 113, 0.6));
    display: flex;
    flex-direction: column;
    
}

.servicecontainer{
    width: 18%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 100px;
}

.servicecontainer h2{
    text-align: center;
    padding: 5px 5px;
    width: 60%;
    margin-top: -5px;
}

.bar{
    width: 5px;
    height: 30px;
    background-color: #093371;
    border-radius: 10px;
}

.herooverlay p{
    font-size: 1.125em;
    margin-left: 10%;
    width: 50%;
}

.infocontainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.contactform{
    background-color: rgba(18, 23, 154, 0.1);
    width: 70%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.contactpanel{
    background-color: #093371;
    width: 30%;
}

.contactform h3{
    color: #093371;
    text-decoration: underline #117215;
    text-align: center;
    font-size: 1.5em;
}

.formpanel{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.namefield{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.namefield input{
    width: 45%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px transparent;
}

.namefield ::placeholder{
    color: gray;
}

.hold{
    width: 97.8%;
    height: 40px;
    padding-left: 10px;
    margin-top: 30px;
    outline: none;
    border: 1px transparent;
}


textarea{
    margin-top: 30px;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px transparent;
}

.contactform a{
    background-color: #117215;
    color: white;
    text-align: center;
    margin: auto;
    padding: 8px 24px;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 5px;
}


.footer{
    width: 100%;
    padding-top: 100px;
    border-top: 5px solid #117215;
    background-color: #212343;
}

.footercontainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download{
    width: 20%;
    display: flex;
    flex-direction: column;
    
}

.download img{
    width: 80px;
    height: 50px;
}

.download p{
    color: #CEBDBD;
}

.download a{
    width: 60%;
    padding: 8px 16px;
    background-color: #117215;
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}

.download a:hover{
    background-color: #093371;
}

.about{
    width: 20%;
    display: flex;
    flex-direction: column;
}


.about a{
    color: #CEBDBD;
    text-decoration: none;
    margin-bottom: 20px;
}

.about h3{
    color: white;
    margin-bottom: 40px;
}

#contact h3{
    margin-bottom: 20px;
}

#contact a{
    margin-bottom: 0px;
}

#contact a p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.trademark{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.trademark p{
    color: #CEBDBD;
    font-size: 0.75em;
}


#contactup h3{
    margin-bottom: 20px;
    font-weight: bold;
}

#contactup a{
    margin-bottom: 0px;
    color: white;
}

#contactup a p{
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
}

#contactup{
    width: 60%;
    margin-left: 30%;
    margin: 10px auto;
    align-items: center;

}